@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .toastify.on.default {
        @apply text-xl text-center max-w-2xl absolute top-0 right-0
            m-4 p-4 rounded font-bold block;
    }

    .toastify.on.error {
        @apply bg-red-300 text-red-500
    }

    .toast-close {
        @apply absolute right-0 top-0;
    }
}

.load-indicator {
    display: none;
}

.htmx-request .load-indicator {
    display: inline;
}

.htmx-request.load-indicator {
    display: inline;
}

.toastify {
    display: none;
}
